# Configuration NPM pour POSPlus
# Miroir Electron (décommenter si problèmes de téléchargement)
# electron_mirror=https://npmmirror.com/mirrors/electron/
# better-sqlite3_binary_host_mirror=https://npmmirror.com/mirrors/better-sqlite3/

# Configuration pour Windows
registry=https://registry.npmjs.org/
strict-ssl=false
prefer-offline=false
